<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
  <style>
    @media(max-width: 420px) {
      .brand-logo {
        font-size: 18px !important;
      }
    }
    .container {
      margin-top: 20px;
    }
  </style>
</head>
<body>
  <nav>
    <div class="wrapper">
      <span class="brand-logo col s12">Significance Calculator</span>
    </div>
  </nav>
  <div class="container">
  {% block content %}{% endblock %}
  </div>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
  {% block script %}{% endblock %}
</body>
</html>
