{% extends "base.html" %}

{% block content %}

<div class="row">
  <form action="" method="POST">
    {% csrf_token %}
    
    {% for input in form %}
    <div class="row">
      <div class="input-field col s12">
        {{ input }}
        <label for="{{ input.id_for_label }}">{{ input.label }}</label>
      </div>
    </div>
    {% endfor %}
    
    <div class="row">
      <button type="submit" class="btn-large col s12">Calculate</button>
    </div>
  </form>
  <div id="result" class="row{% if not p_value %} hide{% endif %}">
    <div class="col s12">
      <div class="card">
        <div class="card-content">
          <span class="card-title">Result</span>
          <p>P Value: <span id="p-value">{{ p_value }}</span></p>
          <p>Significance: <span id="significance">{{ significance }}</span></p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block script %}
  <script>
    const $form = $('form');
    const $pValue = $('#p-value');
    const $significance = $('#significance');
    const $result = $('#result');
    $form.submit(event => {
      event.preventDefault();
      $.post(window.location.href, $form.serialize(), data => {
        $result.removeClass('hide');
        $pValue.text(data.p_value);
        $significance.text(data.significance);
      });
    });
  </script>
{% endblock %}
